@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen {
  height: 100vh;
}

.bg-cover {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hover\\:scale-105:hover {
    transform: scale(1.05);
  }

/* styles.module.css */
.bg-image {
    background-image: url('/images/wwww.jpeg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 50vh;
    color: white; /* Optional: To make text more readable on the background image */
  }
  